@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
    margin: 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: "top-left top-mid top-right" "mid-left mid-mid mid-right" "bot-left bot-mid bot-right";
}

h1 {
    grid-area: top-mid;
    text-align: center;
    align-self: center;
    opacity: 0;
    transition: opacity 2s;
    font-family: 'Nunito', sans-serif;
}

h2 {
    position: absolute;
    left: 5%;
    top: 5%;
    opacity: 0;
    transition: opacity 2s;
    font-family: 'Nunito', sans-serif;
}

button#centerButton {
    grid-area: mid-mid;
    width: 25rem;
    height: 25rem;
    justify-self: center;
    align-self: center;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);
    border: 0.75rem solid rgb(215, 7, 7);
    overflow: none;
    opacity: 0;
    transition: opacity 5s, height 0.25s, width 0.25s;
}

button#sounds {
    grid-area: bot-right;
    background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=6tCkHAkI&id=4F8DD2964F9280236B809AE9378B8BA010F0653F&thid=OIP.6tCkHAkIBNNNX5e_jRGRrwHaHa&mediaurl=https%3a%2f%2fpngimg.com%2fuploads%2fsound%2fsound_PNG26.png&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.ead0a41c090804d34d5f97bf8d1191af%3frik%3dP2XwEKCLizfpmg%26pid%3dImgRaw%26r%3d0&exph=1024&expw=1024&q=sound+icon&simid=607993728109656730&FORM=IRPRST&ck=3B71F4A2E9F76A588112ED15823D0549&selectedIndex=8&adlt=strict);
    
}


body {
    background-size: 100%;
    background-position: center;
}


h3 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-family: 'Nunito', sans-serif;
}
